*.csv
test.py
__pycache__
getpath.ps1
input
project.log
test*
*.vscode
build
mlbasics.egg-info
__pycache__/
*.pyc
*.pyo
*.pyd

env/
venv/
.venv/

build/
dist/
*.egg-info/
*.egg

.idea/
.vscode/
*.swp

.DS_Store
Thumbs.db

*.log
*.sqlite

docs/build/

node_modules/

t .env
secret_key


